.sign-in {
    -ms-flex-align: center;
    align-items: center;
    background: #e9ecef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}

.control-sidebar {
    width: 500px;
}

.sidebar a {
    color: white;
}

.fa,
.fas {
    margin-right: 5px;
}

.card.card-client {
    width: 100%;
}